.vscode/c_cpp_properties.json
genAlg
genAlg.dSYM/Contents/Info.plist
genAlg 2
.vscode/settings.json
gen
omp_gen
GenAlg.cpp
numChrome1000iterLimit1000
numChrome1000iterLimit1000.csv
serial
serialGen
titlemedumbass.csv
